Support obfuscated port in Forwarded Header Transform

Based on the [RFC 7239]( https://tools.ietf.org/html/rfc7239#section-6) the forwarded port could also be obfuscated.

```
node     = nodename [ ":" node-port ]
nodename = IPv4address / "[" IPv6address "]" /
            "unknown" / obfnode

IPv4address = <Defined in [RFC3986], Section 3.2.2>
IPv6address = <Defined in [RFC3986], Section 3.2.2>
obfnode = "_" 1*( ALPHA / DIGIT / "." / "_" / "-")

node-port     = port / obfport
port          = 1*5DIGIT
obfport       = "_" 1*(ALPHA / DIGIT / "." / "_" / "-")
```

The  current implementation only supports obfuscated ip.

I will take this.