Http 502 errors

I have a fairly simple config (see below). The reverse proxy runs on: localhost:5000. I am trying to merge many micro web apis into one. The reverse proxy and the web api's are all .net 5 web api's.

If I navigate to localhost:5000/Pario2WebApi/ReferenceData/1 it correctly forwards me to: microsoft.com/Pario2WebApi/ReferenceData/1


if I try to navigate to localhost:5000/Pario2WebApi/SecurityMaster/1, I get the following error in the log:

"System.IO.IOException: The request was aborted.\r\n ---> System.Net.Http.Http2StreamException: The HTTP/2 server reset the stream. HTTP/2 error code 'HTTP_1_1_REQUIRED'"

**Config:**
```json
{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "ReverseProxy": {
    "Routes": {
      "ReferenceDataRoute": {
        "ClusterId": "ReferenceData",
        "Match": {
          "Path": "/Pario2WebApi/ReferenceData/{**remainder}"
        }
      },
      "SecurityMasterRoute": {
        "ClusterId": "SecurityMaster",
        "Match": {
          "Path": "/Pario2WebApi/SecurityMaster/{**remainder}"
        }
      }
    },
    "Clusters": {
      "ReferenceData": {
        "Destinations": {
          "ReferenceDataDest": {
            "Address": "https://microsoft.com/"
          }
        }
      },
      "SecurityMaster": {
        "Destinations": {
          "SecurityMasterDest": {
            "Address": "https://localhost:44363/"
          }
        }
      }
    }
  }
}
```

> 

Note: Edited to annotate config as json for formatting

How is the server configured on localhost:44363 - does it support HTTP/2?

Have you done any configuration of the HttpClient instance for the proxy to set it using Version 2.0 without the ability to downgrade?

If you change the config and set the logging for "Microsoft" to "Information" you should get more info about what the connection is doing. If you have the ability to run on .NET 6 (just for testing) then the [HttpLogging](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-logging/?view=aspnetcore-6.0) feature can help.

Sorry, to clarify, those are the ports selected by visual studio. I have run it from visual studio and from an iis install (with different ports) . With the exact same errors. I simply created some simple web apis and a reverse proxy, expecting to work out of the box. Another note, I can see in the log that it does transform the url correctly to the new destination, but then gives me the error, as I described. I will try setting my logging to Microsoft.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Sam Spencer ***@***.***>
Sent: Wednesday, September 22, 2021 3:24:58 AM
To: microsoft/reverse-proxy ***@***.***>
Cc: Phylum123 ***@***.***>; Author ***@***.***>
Subject: Re: [microsoft/reverse-proxy] Http 502 errors (#1258)


How is the server configured on localhost:44363 - does it support HTTP/2?

Have you done any configuration of the HttpClient instance for the proxy to set it using Version 2.0 without the ability to downgrade?

If you change the config and set the logging for "Microsoft" to "Information" you should get more info about what the connection is doing. If you have the ability to run on .NET 6 (just for testing) then the HttpLogging<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Faspnet%2Fcore%2Ffundamentals%2Fhttp-logging%2F%3Fview%3Daspnetcore-6.0&data=04%7C01%7C%7Cb3c4d15532684cee581208d97d9a1546%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637678922994816091%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C1000&sdata=9UJjVanXOa%2FshxBP2xJGwgTSLZmcesC81s0vBhKFD%2FA%3D&reserved=0> feature can help.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fmicrosoft%2Freverse-proxy%2Fissues%2F1258%23issuecomment-924658866&data=04%7C01%7C%7Cb3c4d15532684cee581208d97d9a1546%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637678922994826047%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C1000&sdata=kFy%2BH9HllRyc2oD%2BvsWapoXUj7fOioND%2BRbF8iNkUfs%3D&reserved=0>, or unsubscribe<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fnotifications%2Funsubscribe-auth%2FAEACHNXNCHK346HDOICIZ33UDGAEVANCNFSM5EQI5KDQ&data=04%7C01%7C%7Cb3c4d15532684cee581208d97d9a1546%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637678922994826047%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C1000&sdata=P9j9MIRhvirFqDzBOHBNgO0Wwkb33u%2FXoK56dMCI6oM%3D&reserved=0>.
Triage notifications on the go with GitHub Mobile for iOS<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fapps.apple.com%2Fapp%2Fapple-store%2Fid1477376905%3Fct%3Dnotification-email%26mt%3D8%26pt%3D524675&data=04%7C01%7C%7Cb3c4d15532684cee581208d97d9a1546%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637678922994826047%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C1000&sdata=Ij5HOGSnVWjAS4ijT9MMdt75uhZ%2BUGn2kjyetgonDRY%3D&reserved=0> or Android<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.github.android%26referrer%3Dutm_campaign%253Dnotification-email%2526utm_medium%253Demail%2526utm_source%253Dgithub&data=04%7C01%7C%7Cb3c4d15532684cee581208d97d9a1546%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637678922994836005%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C1000&sdata=hdt%2FB%2FZ5cGCGXBVqzf2q7UVb65jmonPCc%2BvFojaz%2FBo%3D&reserved=0>.


Here is what I get from my log

{"Timestamp":"2021-09-22T16:01:54.7987569-04:00","Level":"Information","MessageTemplate":"Proxying to {targetUrl}","RenderedMessage":"Proxying to \"https://localhost:44363/Pario2WebApi/SecurityMaster/Market/12\"","Properties":{"targetUrl":"https://localhost:44363/Pario2WebApi/SecurityMaster/Market/12","EventId":{"Id":9,"Name":"Forwarding"},"SourceContext":"Yarp.ReverseProxy.Forwarder.HttpForwarder","RequestId":"8000065e-0004-fe00-b63f-84710c7967bb","RequestPath":"/Pario2WebApi/SecurityMaster/Market/12"}}
{"Timestamp":"2021-09-22T16:01:54.8482785-04:00","Level":"Information","MessageTemplate":"{error}: {message}","RenderedMessage":"Request: \"An error was encountered before receiving a response.\"","Exception":"System.Net.Http.HttpRequestException: An error occurred while sending the request.\r\n ---> System.IO.IOException: The request was aborted.\r\n ---> System.Net.Http.Http2StreamException: The HTTP/2 server reset the stream. HTTP/2 error code 'HTTP_1_1_REQUIRED' (0xd).\r\n   --- End of inner exception stack trace ---\r\n   at System.Net.Http.Http2Connection.ThrowRequestAborted(Exception innerException)\r\n   at System.Net.Http.Http2Connection.Http2Stream.CheckResponseBodyState()\r\n   at System.Net.Http.Http2Connection.Http2Stream.TryEnsureHeaders()\r\n   at System.Net.Http.Http2Connection.Http2Stream.ReadResponseHeadersAsync(CancellationToken cancellationToken)\r\n   at System.Net.Http.Http2Connection.SendAsync(HttpRequestMessage request, Boolean async, CancellationToken cancellationToken)\r\n   --- End of inner exception stack trace ---\r\n   at System.Net.Http.Http2Connection.SendAsync(HttpRequestMessage request, Boolean async, CancellationToken cancellationToken)\r\n   at System.Net.Http.HttpConnectionPool.SendWithRetryAsync(HttpRequestMessage request, Boolean async, Boolean doRequestAuth, CancellationToken cancellationToken)\r\n   at Yarp.ReverseProxy.Forwarder.HttpForwarder.SendAsync(HttpContext context, String destinationPrefix, HttpMessageInvoker httpClient, ForwarderRequestConfig requestConfig, HttpTransformer transformer)","Properties":{"error":"Request","message":"An error was encountered before receiving a response.","EventId":{"Id":48,"Name":"ForwardingError"},"SourceContext":"Yarp.ReverseProxy.Forwarder.HttpForwarder","RequestId":"8000065e-0004-fe00-b63f-84710c7967bb","RequestPath":"/Pario2WebApi/SecurityMaster/Market/12","Properties":{"HResult":-2146232800,"Message":"An error occurred while sending the request.","Source":"System.Net.Http","StackTrace":"   at System.Net.Http.Http2Connection.SendAsync(HttpRequestMessage request, Boolean async, CancellationToken cancellationToken)\r\n   at System.Net.Http.HttpConnectionPool.SendWithRetryAsync(HttpRequestMessage request, Boolean async, Boolean doRequestAuth, CancellationToken cancellationToken)\r\n   at Yarp.ReverseProxy.Forwarder.HttpForwarder.SendAsync(HttpContext context, String destinationPrefix, HttpMessageInvoker httpClient, ForwarderRequestConfig requestConfig, HttpTransformer transformer)","InnerException":{"Type":"System.IO.IOException","HResult":-2146232800,"Message":"The request was aborted.","Source":"System.Net.Http","StackTrace":"   at System.Net.Http.Http2Connection.ThrowRequestAborted(Exception innerException)\r\n   at System.Net.Http.Http2Connection.Http2Stream.CheckResponseBodyState()\r\n   at System.Net.Http.Http2Connection.Http2Stream.TryEnsureHeaders()\r\n   at System.Net.Http.Http2Connection.Http2Stream.ReadResponseHeadersAsync(CancellationToken cancellationToken)\r\n   at System.Net.Http.Http2Connection.SendAsync(HttpRequestMessage request, Boolean async, CancellationToken cancellationToken)","InnerException":{"HResult":-2146233088,"Message":"The HTTP/2 server reset the stream. HTTP/2 error code 'HTTP_1_1_REQUIRED' (0xd).","Source":null,"StackTrace":null,"Type":"System.Net.Http.Http2StreamException"}},"StatusCode":null,"Type":"System.Net.Http.HttpRequestException"}}}


It looks like the server tries to use TLS renegotiation which is prohibited by HTTP/2 specification ([RFC 7540, section 9.2.1](https://datatracker.ietf.org/doc/html/rfc7540#section-9.2.1)).

>A deployment of HTTP/2 over TLS 1.2 MUST disable renegotiation.  An
   endpoint MUST treat a TLS renegotiation as a connection error
   (Section 5.4.1) of type PROTOCOL_ERROR.

>Alternatively, a server might use an error (Section 5.4) of type 
 HTTP_1_1_REQUIRED to request the client use a protocol 
 that supports renegotiation.


Thank you for that insight, but how would I go about turning that off in visual studio or IIS? 

I find it odd that out of the box the reverse proxy doesn't work on a web api project, that has https enabled. Most developers I know would create their projects that way. Is there any way to make the reverse proxy use http_1_1?

*Bump*

> Is there any way to make the reverse proxy use http_1_1?

See https://microsoft.github.io/reverse-proxy/articles/http-client-config.html#httprequest

You can specify the Version and VersionPolicy used when making requests to your backend server
```json
"HttpRequest": {
    "Version": "1.1",
    "VersionPolicy": "RequestVersionExact",
}
```

It would be a question for `HttpClient` whether we should react to the `HTTP_1_1_REQUIRED` H2 error code and attempt to downgrade to 1.1 if policy permits.

After adding the above configuration to the clusters, I get the error below (TLDR: System.ArgumentNullException: Value cannot be null. (Parameter 'destinationPrefix')):

{"Timestamp":"2021-09-28T17:22:39.9303504-04:00","Level":"Error","MessageTemplate":"An unhandled exception has occurred while executing the request.","RenderedMessage":"An unhandled exception has occurred while executing the request.","Exception":"System.ArgumentNullException: Value cannot be null. (Parameter 'destinationPrefix')\r\n   at Yarp.ReverseProxy.Forwarder.HttpForwarder.SendAsync(HttpContext context, String destinationPrefix, HttpMessageInvoker httpClient, ForwarderRequestConfig requestConfig, HttpTransformer transformer)\r\n   at Yarp.ReverseProxy.Forwarder.ForwarderMiddleware.Invoke(HttpContext context)\r\n   at Yarp.ReverseProxy.Health.PassiveHealthCheckMiddleware.Invoke(HttpContext context)\r\n   at Microsoft.AspNetCore.Routing.EndpointMiddleware.<Invoke>g__AwaitRequestTask|6_0(Endpoint endpoint, Task requestTask, ILogger logger)\r\n   at Microsoft.AspNetCore.Authorization.AuthorizationMiddleware.Invoke(HttpContext context)\r\n   at Swashbuckle.AspNetCore.SwaggerUI.SwaggerUIMiddleware.Invoke(HttpContext httpContext)\r\n   at Swashbuckle.AspNetCore.Swagger.SwaggerMiddleware.Invoke(HttpContext httpContext, ISwaggerProvider swaggerProvider)\r\n   at Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware.Invoke(HttpContext context)","Properties":{"EventId":{"Id":1,"Name":"UnhandledException"},"SourceContext":"Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware","RequestId":"80000957-0004-fe00-b63f-84710c7967bb","RequestPath":"/Pario2WebApi/SecurityMaster/Security/1703","Properties":{"Type":"System.ArgumentNullException","HResult":-2147467261,"Message":"Value cannot be null. (Parameter 'destinationPrefix')","Source":"Yarp.ReverseProxy","StackTrace":"   at Yarp.ReverseProxy.Forwarder.HttpForwarder.SendAsync(HttpContext context, String destinationPrefix, HttpMessageInvoker httpClient, ForwarderRequestConfig requestConfig, HttpTransformer transformer)\r\n   at Yarp.ReverseProxy.Forwarder.ForwarderMiddleware.Invoke(HttpContext context)\r\n   at Yarp.ReverseProxy.Health.PassiveHealthCheckMiddleware.Invoke(HttpContext context)\r\n   at Microsoft.AspNetCore.Routing.EndpointMiddleware.<Invoke>g__AwaitRequestTask|6_0(Endpoint endpoint, Task requestTask, ILogger logger)\r\n   at Microsoft.AspNetCore.Authorization.AuthorizationMiddleware.Invoke(HttpContext context)\r\n   at Swashbuckle.AspNetCore.SwaggerUI.SwaggerUIMiddleware.Invoke(HttpContext httpContext)\r\n   at Swashbuckle.AspNetCore.Swagger.SwaggerMiddleware.Invoke(HttpContext httpContext, ISwaggerProvider swaggerProvider)\r\n   at Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware.Invoke(HttpContext context)","ParamName":"destinationPrefix"}}}


@phylum123 It looks like this has been answered. We'll open an issue in runtime to answer:

> It would be a question for HttpClient whether we should react to the HTTP_1_1_REQUIRED H2 error code and attempt to downgrade to 1.1 if policy permits.

Closing this issue.